body{
	margin: 0px;
	background: url(../img/home_bg.jpg) no-repeat;
	background-position: top center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}
header.top{
	background: #2c0903;
	overflow: hidden;
	
}
img{
	max-width: 100%;
}
ul,li,ol,div{
	margin: 0;
	list-style: none;
}
header.top .top_wrap{

	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
header.top .top_wrap .left a,.right a{
	text-decoration: none;
	color: rgba(255,255,255,.7);
	line-height: 40px;
	margin-right: 20px;
}
.top_wrap li{
	float: left;
}
header.top .left li:first-of-type a{
	width: 62px;
	height: 40px;
	background:url(../img/icon-sprite.png) no-repeat;
	background-position: -18px -75px;
	display: block;
}
header.top .left li:first-of-type a:hover{
	background-position: -18px -119px;
}
header.top .top_wrap li a:hover{
	color: white;
}
header.top  li:nth-of-type(2) a:after,
header.top  li:nth-of-type(5) a:after
{
	content: '';
	width: 14px;
	height: 7px;
	background: url(../img/icon-sprite.png);
	background-position: -147px -131px;
	display: inline-block;
	margin-left: 5px;
}
header.top  li:hover a:after{
	background-position-y:-145px;
}

/*--------*/

header.top li .subnav a:after{
	content: none;
}
header.top li .subnav{
	z-index: 1;
	position:absolute;
	left: 0;
	top: 40px;
	width: 100%;
	background: rgba(21,26,35,.95);
	border: solid 1px rgba(255,255,255,.15);
	box-sizing: border-box;
    padding: 30px 0;
	text-align: center;
	visibility: hidden;
	opacity: 0;
}
header.top li:hover a+.subnav{
	opacity: 1;
	visibility: visible;
	transition: all 1s; 
}
header.top li .subnav a:nth-of-type(1){
	background-image: url(../img/card-overwatch-CN-85c98611cefd3018.jpg);
}
header.top li .subnav a:nth-of-type(2){
	background-image: url(../img/card-hearthstone-CN-538b49564ab2122a.jpg);
}
header.top li .subnav a:nth-of-type(3){
	background-image: url(../img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
}
header.top li .subnav a:nth-of-type(4){
	background-image: url(../img/card-diablo-3-CN-0d57444efa52a79b.jpg);
}
header.top li .subnav a:nth-of-type(5){
	background-image: url(../img/card-heroes-of-the-storm-CN-bacafbbddcf92348.jpg);
}
header.top li .subnav a:nth-of-type(6){
	background-image: url(../img/card-starcraft-2-CN-de310c5ddfb63a49.jpg);
}
header.top li .subnav a{
	width: 180px;
	height: 180px;
	background-position: center;
	display: inline-block;
	background-image: url(../img/card-hearthstone-CN-538b49564ab2122a.jpg);
    background-size: cover;
    top: -40px;
    position: relative;	
    opacity: 0;
   
}
header.top li:hover a+.subnav a{
	top: 0px;
	opacity: 1;
	transition: all .5s;
}

header.top .subnav a:nth-of-type(1) {
	transition-delay: 50ms;
}
header.top .subnav a:nth-of-type(2) {
	transition-delay: 100ms;
}
header.top .subnav a:nth-of-type(3) {
	transition-delay: 150ms;
}
header.top .subnav a:nth-of-type(4) {
	transition-delay: 200ms;
}
header.top .subnav a:nth-of-type(5) {
	transition-delay: 250ms;
}
header.top .subnav a:nth-of-type(6) {
	transition-delay: 300ms;
}



/*---------*/

.logo_center{
	width: 1024px;
	height: 275px;
	margin: 0 auto;
}
.logo_center img{
	padding: 55px 0px 0px 0px;
	float: left;
	width: 350px;
	height: 184px;
}
.logo form {
	position: relative;
}
.logo form [type=text] {
    padding: 7px 40px 7px 10px;
	float: right;
	bottom: 0px;
	background: rgba(58,58,58,.3);
	color: white;
	border: 1px solid #8bb6ad;
	width: 250px;
	height: 26px;
	line-height: 26px;
	margin-top: 150px;
}
.logo form [type=submit] {
	background: url(../img/search.png) no-repeat;
	width: 25px;
	height: 25px;
	margin: 6px 6px ;
	outline: none;
	background-position: center;
	border: 1px;
	position: absolute;
	top: 154px;
	right: 0;
}

/*------*/
 #a_after:after{
	content: none;
}
/*header.top .wrap .dz_subnav a {
	content: none;
}*/
header.top .dz_subnav{
	position:absolute;
	top: 40px;
	left: 0px;
	background: #999;
	width: 100%;
	margin-top: 0px;
	visibility: hidden;
}
header.top .dz_subnav .left{
	text-align: center;
	float: left;
	width:200px;

}
header.top .dz_subnav .right{
	width: 100px;
	background: #37353B;
	float: left;
}
header.top .dz_subnav .right img{
	width: 100px;
	display: block;
}



/**/


.navWrap {
	width: 1024px;
	margin: 0 auto;
	height: 52px;
	background: url(../img/nav_bg-1.jpg) no-repeat;
	position: relative;
}
.navWrap li {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	position: relative;
}
.navWrap li>a {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	background: rgba(0,0,0,.3);
	background: url(../img/nav_bg-1.jpg) no-repeat;
	text-indent: -99em;
}
.navWrap li:nth-of-type(1){
	margin-left: 58px;
}
.navWrap li:nth-of-type(1)>a {
	background-position: -58px 0px;
	
}
.navWrap li:nth-of-type(2)>a {
	background-position: -172px 0px;
}
.navWrap li:nth-of-type(3)>a {
	background-position: -286px 0px;
}
.navWrap li:nth-of-type(4)>a {
	background-position: -400px 0px;
}
.navWrap li:nth-of-type(5)>a {
	background-position: -514px 0px;
}
.navWrap li:nth-of-type(6)>a {
	background-position: -628px 0px;
}
.navWrap li:nth-of-type(7)>a {
	background-position: -742px 0px;
}
.navWrap li:nth-of-type(8)>a {
	background-position: -856px 0px;
}
.navWrap li:hover>a {
	background-position-y: -104px;
}
.navWrap:before {
	content: '';
	width: 96px;
	height: 74px;
	background: url(../img/nav-sprite-l.png) no-repeat;
	position: absolute;
	top: -18px;
	left: -42px;
}
.navWrap:after{
	content: '';
	width: 95px;
	height: 69px;
	top: -17px;
	right: -30px;
	position: absolute;
	background: url(../img/nav-sprite-r.png) no-repeat;
}



/**/
.navWrap li:hover .navsub {
	display: block;
}
.navWrap .navsub a{
	display: block;
	text-decoration: none;
	color: rgb(205, 153, 142);
	line-height: 36px;
	font-size: 14px;
	padding-left: 20px;
} 
.navWrap .navsub{
	position: absolute;
	top: 47px;
	left: 0px;
	width: 114px;
	background: rgba(77,9,8,.95);
	display: none;
	z-index: 999;
}
.navWrap .navsub a:hover {
	color: white;
	background: #81120c;
}

/**/
section.main{
	margin: 0 auto;
	width: 1024px;
	overflow: hidden;
	position: relative;

}
section.main .main_left{
	width: 703px;
	position: relative;
	background: url(../img/homeconmain-bg.png) repeat-y;
}



section.main  .main_left .banner{
    width: 640px;
	margin: 20px auto;
	border: 1px solid #b7894c;
	padding: 1px;
	position: relative;
}

section.main  .main_left .banner .txt {
	overflow: hidden;
	line-height: 14px;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;	
	box-sizing: border-box;
	padding: 1px;
    background-clip: padding-box;
    border: 1px solid #ff000000; 
	border-top: 1px solid #b7894c;
	
}
section.main  .main_left .banner .txt img{
	float: right;	
	width: 66px;
	margin: 10px 18px;
	border: 1px solid orange;
}
section.main  .main_left .banner .txt p{
	float: left;
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
}

/***/

section.main .videoEye{
	background: url(../img/news-eyes-bg.jpg) no-repeat;
	width: 660px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 6px;
    background-position: bottom center;
    padding-bottom: 6px;
}
section.main ul.videoEye li:nth-of-type(odd) {
	float: left;
}
section.main ul.videoEye li:nth-of-type(even) {
	float: right;
	margin-right: 34px;
}
section.main ul.videoEye li {
	width: 280px;
	padding: 15px 15px 10px 15px;
	background: url(../img/news-eyes-module.png) no-repeat;
	text-align: center;
}
section.main ul.videoEye li p {
	line-height: 12px;
}

/**/
.homeNews>a:first-of-type .homeNewsWrap {
	padding-top: 40px;
}
.homeNews>a {
	text-decoration: none;
}
.homeNewsWrap {
	overflow: hidden;
	width: 630px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid #efdba8;
	border-bottom: 1px solid #dbc497;
}
.homeNewsWrap:hover {
	background: url(img/homenewsbg.png) repeat-y;
	background-size: 100% auto;
}
.homeNewsWrap dt img {
	width: 200px;
	height: 100px;
	border: 1px solid #b7894c;
	padding: 1px;
}
.homeNewsWrap dt img:hover {
	border: 1px solid green;
}
.homeNewsWrap dd {
	width: 400px;
	margin-left: 26px;
}
.homeNewsWrap dd h3	{
	color: #150603;
	font-size: 16px;
	margin: 0 0 10px 0;
	
}
.homeNewsWrap dd p {
	color: #695745;
	line-height: 19px;
	height: 38px;
	overflow: hidden;
	letter-spacing:1px;
	font-size: 14px;
	margin-bottom: 10px;
}
.homeNewsWrap dd span {
	font-size: 14px;
	margin-top: 10px;
}
.homeNewsWrap dd span i:before {
	content: '';
	width: 18px;
	height: 19px;
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -80px -112px;
	position: relative;
	top: 4px;
}
.homeNewsWrap dd span i {
	color: rgb(210, 83, 0);
	font-style: normal;
}
.homeNewsWrap dd span time {
	font-size: 12px;
	margin-left: 30px;
	color: #666;
}
.homeNewsWrap dd span i:hover:before {
	background-position: -80px -129px;
}


.newsMore {
	text-align: center;
	text-decoration: none;
	background: rgb(211, 183, 139);
	color: rgb(91, 75, 56);
	border: 1px solid rgb(241, 219, 184);
	padding: 10px 0;
}
.newsMore:hover {
	background: rgb(195, 164, 115);;
}
.newsMore:after {
	content: '';
	width: 20px;
	height: 9px;
	background: url(../img/more-icon.png) no-repeat;
	display: inline-block;
	background-position: right center;
}
.homeConMain-bot {
	width: 703px;
	height: 34px;
	background: url(../img/homeconmain-bg-bot.png) no-repeat;
	background-position: bottom center;
	position: relative;
	top: 10px;
}

/**********------------------*/


section.main .main_right {
	width: 340px;
	background: url(../img/homeconbar-bg.png) repeat-y;
	background-position: right;
	position: absolute;
	top: 0;
	right: 0;
	

	
}

.features {
	background: url(../img/home-bg-cr.jpg) no-repeat;
	min-height: 590px;
	text-align: center;
}
.features ul {
	width: 240px;
	margin: 0 auto;
	overflow: hidden;
}
.features ul li a {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../img/device-icon.png) no-repeat;
}
.features ul li {
	/*display: inline-block;*/
	float: left;
	margin-top: 45px ;
}
.features ul li:first-of-type a {
	background-position: 0px -180px ;
}
.features ul li:nth-of-type(2) a {
	background-position: -80px 0px ;
}
.features ul li:nth-of-type(3) a {
	background-position: -160px 0px ;
}
.features ul li:hover a {
	background-position-y: -89px;
}

.features .downloadicon {
	padding-top: 20px;
}
.features .downloadicon a {
	background: url(../img/download-btn2.png) no-repeat;
	background-position: -37px bottom;
	width: 220px;
	height: 61px;
	display: inline-block;
}

/**/
.module_media {
	width: 305px;
    /*height: 500px;*/
    background:url(../img/moudel-top-bg.jpg) no-repeat;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.module_media h3.iconCommon:before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: middle;
	margin-right:5px ;
}
.module_media h3.iconZh:before {
	background-position: -87px -4px;
}
.module_media h3 {
	margin: 0;
	font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    height: 30px;
    color: #03345f;
    margin-bottom: 10px;
}

.module_media .esport {
	position: relative;
	text-align: center;
}
.module_media .esport a {
	position: relative;
	display: inline-block;
	width: 244px;
	text-decoration: none;
	color: #251c0f;
}
.module_media .esport a img {
	transition: all .3s;
}
.module_media .esport a:hover img:last-of-type {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	
}
.module_media .esport a:hover img:first-of-type {
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
	
}
.module_media .esport a img:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
}
.module_media .esport a h5 {
	margin: 0;
	line-height: 30px;
}
.module_media .esport .prev,
.module_media .esport .next {
	width: 7px;
	height: 14px;
	background: url(../img/esport-icon.gif) no-repeat;
	display: inline-block;
	position: absolute;
	top: 62px;
	margin-top: -7px;
}
.module_media .esport .prev {
	left: 15px;
}
.module_media .esport .prev:hover {
	background-position-x: -16px;
}
.module_media .esport .next {
	right: 15px;
	background-position: -8px 0;
}
.module_media .esport .next:hover {
	background-position-x: -24px;
}
.module_media.live .esport a:hover img {
	transform: scale(1);
	-webkit-transform: scale(1);
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}

.module_media .bot {
	width: 265px;
	padding: 10px 20px;
	
}
.module_media h3.iconMt:before {
	background-position: -46px -74px;
}
.module_media.recommend .bot>a {
	display: block;
	text-decoration: none;
	color: #5b4b38;
	font-size: 12px;
	line-height: 36px;
	border-bottom: 1px solid #e8d6a8;
}
.module_media.recommend .bot>a:before {
	content: '';
	width: 10px;
	height: 7px;
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -135px -143px;
}
.module_media .bot .more {
	text-align: right;
}
.module_media .bot .more a {
	
	width: 33px;
	height: 30px;
	display: inline-block;
	background: url(../img/icon-more.png) no-repeat;
	background-position: bottom;
}


/**/

.module_normal {
	/*width: 235px;
	padding: 15px;
	
	margin: 0 auto;
	background: #d1b181;
	border: 1px solid #efd4ad;
	border-radius: 3px;*/
}
.module_normal li{
	position: relative;
	width: 235px;
	padding: 15px;
	
	margin: 10px auto;
	background: #d1b181;
	border: 1px solid #efd4ad;
	border-radius: 3px;
}
.module_normal li h4 {
	margin: 0;
	color: #251c0f;
}
.module_normal li:after {
	content: '';
	width: 100px;
	height: 66px;
	background: url(../img/commnity-icon.png) no-repeat;
	display: block;
	background-position-x: right;
	
	position: absolute;
	top: -10px;
	right: 0px;
}
.module_normal li.guide:after {
	background-position-y:-279px;
/*	transition: all 1s;*/
}
.module_normal li.guide:hover:after {
	background-position-y:-379px;
}

.module_normal li.tmall:after {
	background-position-y:-784px;
}




/**/
.comm_share {
    margin: 20px auto auto auto;
    padding-left: 10px;
		min-height: 201px;
}
 .comm_share li.borderR {
    padding-right: 8px;
    margin-right: 10px;
    display: inline;
    background: url(../img/border.png) no-repeat right 4px;
}
.comm_share li.weixin {
    line-height: 18px;
    position: relative;
}
.comm_share li a {
	text-decoration: none;
	color: #251c0f;
}
.comm_share li a.bds1-2 i,
.comm_share li a.bds1-2:hover{
	color: #3d8403;
}
.comm_share li a.bds1-3 i,
.comm_share li a.bds2:hover,
.comm_share li a.bds1-3:hover,
.comm_share li a.bds3:hover,
.comm_share li a.font-small:hover {
	color: #f2743e;
}
 
.comm_share li {
    float: left;
    font-size: 14px;
    width: 118px;
    margin-bottom: 23px;
    line-height: 34px;
		
}
.comm_share li span {
    transition: background-position .3s;
    width: 32px;
    height: 42px;
    float: left;
    display: block;
    background: url(../img/share.png) no-repeat 0 0;
		margin-right: 10px;
	
}
.comm_share li span.bds1 {
	background-position: -378px 0;
}
.comm_share li span.bds2-2 {
	background-position: -210px 0;
}
.comm_share li:hover span.bds2-2{
	background-position: -210px -60px;
}
.comm_share li a.bds3 span {
	background-position: -462px 0;
}
.comm_share li a.bds3:hover span{
	background-position: -462px -60px;
}
.comm_share li.weixin i {
    font-style: normal;
}

 
.weixin .bds1-2 img,
.comm_share .bds3 img {
    position: absolute;
    top: -112px;
    left: 0;
    height: 92px;
    padding: 10px;
    border-radius: 6px;
    display: none;
    z-index: 10;
    background: url(../img/op5.png) repeat;
}
 
.comm_share .bds3 {
	display: block;
	position: relative;
}

.weixin .bds1-2:hover img,
.weixin .bds1-3:hover img,
.comm_share .bds3:hover img {
	display: block;
}
.weixin .bds1-3 img {
	position: absolute;
    top: -112px;
    left: 0;
    height: 92px;
    padding: 10px;
    border-radius: 6px;
    display: none;
    z-index: 10;
    background: url(../img/op5.png) repeat;
}


.comm_share li.mail {
    color: #251c0f;
    width: 130px;
    line-height: 24px;
    font-weight: 700;
}
.comm_share li .font-small {
	font-size: 12px;
	font-weight: 400;
	display: block;
}

.comm_share li.tel {
    color: #251c0f;
    width: 100px;
    line-height: 24px;
    font-weight: 700;
}

.bds-botton {
	width: 340px;
    height: 35px;
    position: absolute;
    right: 0;
    bottom: -35px;
  background: url(../img/homeconbar-bg-bot.png) no-repeat;
}

 /*------------------------------------------------------------------- */
 #footer {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 26px;
    width: auto;
    z-index: 3;
    font-size: 12px!important;
}
.hs-footer {
    background: url(../img/footerrepeat.jpg) repeat-x;
}
.hs-footer .footer {
    height: 471px;
    background:url(../img/footer.jpg) no-repeat 50% 0;
}

.footer .regWrapper {
	width: 349px;
	height: 87px;
	position: absolute;
	background: url(../img/22.png) no-repeat;
	margin: 0 auto;
	top: -30px;
	left: 50%;
	margin-left: -175px;
	z-index: 101;
}
.footer a {
    text-decoration: none;
    padding-top: 5px;
    color: #fff;
    font-weight: 400;
}
.footer .regWrapper .u-regBtn {
    background: url(../img/reg-btn.png) no-repeat;
    bottom: -5px;
    display: block;
    height: 78px;
    left: 50%;
    margin-left: -123px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 249px;
}
.footer .regWrapper .u-regBtn:hover {
	background-position-y: -84px;
}
#f-business {
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    z-index: 100;
    padding-top: 79px;
    font-size: 14px;
}
#f-business .f-cs {
    float: left;
    font-size: 14px;
}
#f-business .f-cs a {
    color: #fff;
    margin-right: 37px;
    vertical-align: middle;
}
.hs-footer #f-business .icon {
    background-image: url(../img/f-business.png);
}
#f-business .icon-1, 
#f-business .icon-2, 
#f-business .icon-3 {
    background-position: -6px -7px;
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
#f-business .icon-2 {
	background-position: -36px -7px;
}
#f-business .icon-3 {
    background-position: -8px -32px;
    top: 4px;
}

#f-business .foot-media {
	text-align: right;
	vertical-align: top;
}
#f-business .foot-media p {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
#f-business .foot-media dl {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.foot-icon {
    background-image: url(../img/business-logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#f-business .foot-media .icon-nvidia {
    background-position: -352px 0;
    width: 95px;
    height: 26px;
}
#f-business .foot-media .icon-apply, 
#f-business .foot-media .icon-more {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 0 0 13px;
    position: relative;
    top: 3px;
    cursor: pointer;
    padding-top: 0;
}
#f-business .foot-media span.icon-more:hover {
	color: chartreuse;
}
#f-business .foot-media .icon-more i {
    border: 4px solid transparent;
    border-top-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
		border-top-color: #ac771f;
}
.hs-footer #f-business .foot-media .icon-apply, 
.hs-footer #f-business .foot-media .icon-more {
    background: #241101;
    border: 1px solid #2d1702;
    color: #ac771f;
}

#f-business .foot-media .icon-apply i.line-h, 
#f-business .foot-media .icon-apply i.line-s {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
		background: #ac771f;
}
#f-business .foot-media .icon-apply i.line-h {
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
}
#f-business .foot-media .icon-apply i.line-s {
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
}
#f-business .foot-media .icon-apply {
    margin-right: 13px;
}
.hs-footer #f-business .foot-media dl dd {
    position: absolute;
    top: 25px;
    right: 0;
    width: 756px;
    padding: 8px 0 10px 20px;
    background: #1f1009;
    border: 1px solid #261c12;
    display: none;
}
#f-business .foot-media .icon-more.hidden i {
    border-top-color: transparent!important;
    margin: -6px 0 0 -4px;
}
#f-business .foot-media dl dd ul li {
    float: left;
    width: 108px;
    text-align: left;
    line-height: 22px;
}
#f-business .foot-media dl dd ul li a {
    color: #b5a89f;
    padding-top: 0;
}
#f-business .foot-media dl dd ul li.applyBtn {
    float: right;
}
#f-business .foot-media dl dd ul li.applyBtn a {
    text-decoration: underline;
		color: #EA8631;
}
#f-business .foot-media dl dd ul li.applyBtn a:hover {
		color: #FFFFFF;
}



.footer .cprt {
	text-align: left;
	width: 1000px;
	margin: 0 auto 8px;
	padding-top: 40px;
	position: relative;
} 

.footer .logo_bz {
    display: inline-block;
    width: 140px;
    height: 80px;
    overflow: hidden;
    vertical-align: top;
    margin: 0;
    position: relative;
	background: url(../img/logo_blizzard.png) no-repeat 0 0;
}
.footer .logo_ne {
	background: url(../img/logo_ne.png) no-repeat 0 0;
	width: 125px;
	height: 38px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 39px;
}
.footer .info {
	float: right;
	width: 706px;
	text-align: left;
	padding: 0 0 0 73px;
	position: relative;
	box-sizing: border-box;
	vertical-align: middle;
}
.footer .cprt .info ul {
	margin: 0 0 0 -10px;
	padding: 0 0 5px;
	overflow: hidden;
	
}
.footer .cprt .info ul li {
    float: left;
    list-style: none;
}
.footer .cprt .info ul li a {
    color: #ccc;
    padding: 0 10px;
    font-size: 14px;
}
.footer .info p {
	font-size: 12px;
	margin: 0;
	line-height: 20px;
	font-weight: 400;
}
.footer .integrity {
    padding: 8px 0;
}
.footer .integrity a {
    margin-right: 5px;
}

.hs-footer .cprt .info, 
.hs-footer .cprt .info p, 
.hs-footer .cprt .info p a, 
.hs-footer .cprt .info p a:active {
    color: #552c09;
}
.hs-footer .cprt .info p a:hover {
	color: white;
} 





 /*------------------------------------------------- */
#app {
    bottom: 200px;
}
#app, #gotop, #hsoa-link, #weibo {
    width: 82px;
    height: 82px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    background-color: rgba(96,52,18,.6);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


#weibo {
    bottom: 110px;
    background-image: url(../img/weibo-icon.png);
}
#gotop {
    bottom: 20px;
    background-image: url(../img/gotop-icon.png);
}